<%- include('partials/header.ejs') %>
<%- include('partials/navbarHome.ejs') %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bem Vindo!</h1>
        <p class="lead">Ete é um simples blog do guia do programador!</p>
    </div>
    <hr>
    <% articles.rows.forEach(article => { %>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %> </h2>
            </div>
            <div class="card-body">
                <a href="/<%=article.slug%>" class="btn btn-success">Ler Artigo</a>
            </div>
        </div>
        <br>
    <% }) %>  
    <% if(paginate){ %> 
        <div class="row">
            <div class="col col-12">
                <% if(page > 1){ %> 
                    <% if(page > 2){ %> 
                        <a class="float-left" href="/">Inicio </a>
                    <% } %>
                    <a class="float-left" href="/<%= page - 1 %>"> <<< Prev</a>
                <% } %>
                <% if(next){ %> 
                    <a class="float-right" href="/<%= page + 1 %>">Next >>></a>
                <% } %>
            </div>
        </div>
    <% } %>
    <br>
</div>
<%- include('partials/footer.ejs') %>